* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f7fa;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 40px auto;
    text-align: center;
}

.box {
    background: rgba(255, 255, 255, 0.336);
    padding: 20px 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(170, 157, 157, 0.39);
    backdrop-filter: blur(2px);
    max-width: 800px;
    margin-left: 100px;
    margin-top: 150px;
    margin-bottom: 30px;
}

h1 {
    color: black;
    margin-bottom: 20px;

}

p {
    text-align: center;
    color: black;
    margin-bottom: 30px;
    font-size: x-large;
    margin-top: 5px;
    text-align: justify;
}

.parent-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    background-color: white;
}

.child-container {
    flex: 1 1 45%;
    text-align: center;
}

.story-img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}

.text {
    flex: 1 1 45%;
    text-align: left;
    padding: 10px;
}

.story-h {
    color: #df7926;
    ;
    margin-bottom: 10px;
}

.box-h {
    background: rgba(255, 255, 255, 0.336);
    padding: 20px 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(170, 157, 157, 0.39);
    backdrop-filter: blur(2px);
    height: 70px;
    width: 300px;
    margin-left: 350px;
    margin-bottom: 20px;



}

.unique-h {
    color: black;
    margin-bottom: 5px;


}


.feature-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}

.feature-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
}

.feature-card img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 10px;
}


.team-h {
    color: black;
    margin-bottom: 5px;
}

.team-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
    margin-top: 30px;
}

.team-member {
    background-color: #fff;
    width: 400px;

    border-radius: 12px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.team-img {
    width: 200px;

    height: 250px;


    object-fit: cover;
    margin-bottom: 15px;
}

.team-h3 {
    color: black;
    margin-bottom: 5px;
    font-size: 22px;
}

.text-p {
    font-size: 16px;
    color: gray;
    margin-bottom: 15px;
    text-align: center;
}

.team-p {
    font-size: 15px;
    text-align: justify;
}
.copyright{
    font-size: 17px;
}


/* Mobile devices */

@media screen and (max-width: 600px) {
    .container {
        width: 95%;
        margin: 20px auto;
    }

    .box {
        margin-top: 300px;
        margin-left: 5px;
        padding: 15px;
    }

    .parent-container {
        flex-direction: column;
        text-align: center;
    }

    .child-container {
        flex: 1 1 100%;
        margin: 10px 0;
    }

    .text {
        text-align: justify;
    }
    .story-h{
        text-align: center;
    }

    .box-h {
        margin-left: 20px;
    }

    .team-member {
        width: 90%;
    }
}

/* Tablet Devices */

@media screen and (min-width: 601px) and (max-width: 992px) {
    .container {
        width: 95%;

    }

    .box {
        margin: 80px auto;
        padding: 18px;
    }

    .team-member {
        width: 300px;
    }
}