body {
  font-family: Arial, sans-serif;
  background: #f5f7fa;
  margin: 0;
  padding: 0;
}
 .box {
    background: rgba(255, 255, 255, 0.336); 
    padding: 20px 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(170, 157, 157, 0.39);
    backdrop-filter: blur(2px); 
    max-width: 800px;
    margin-left: 350px;
    margin-top: 150px;
    margin-bottom: 30px;
}
.page-heading {
  text-align: center;
  
  color: black;
  
}
.page-p {
  text-align: center;
  color: black;
  margin-bottom: 30px;
  font-size: x-large;
  margin-top: 5px;
}

.contact-section {
  padding: 50px 20px;
}

.contact-container {
  max-width: 1000px;
  margin: 0 auto;
  background: white;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 30px;
}


.contact-form {
  flex: 1;
  min-width: 300px;
}

.contact-form h2 {
  color: #333;
  margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  font-size: 16px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

.contact-form button {
  width: 100%;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.contact-form button:hover {
  background-color: #0056b3;
}


.contact-info {
  flex: 1;
  min-width: 300px;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #333;
  font-size: 16px;
  margin-bottom: 20px;
}

.info-item i {
  color: #007bff;
  font-size: 20px;
}

.map-container iframe {
  width: 100%;
  height: 250px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Responsive */
@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
  }
}
