/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Page Background */
body {
  font-family: 'Poppins', sans-serif;
  background: url('../images/Designer.png') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Glassy Signup Box */
.signup-container {
  background: rgba(255, 255, 255, 0.13);
  backdrop-filter: blur(7px);
  padding: 4px 80px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 20px;
  width: 850px;
  height: 600px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
  text-align: center;
}

/* Heading */
.signup-container h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-bottom: 30px;
  color: #000000;
  font-size: 28px;
  font-weight: 400;
  font-style: normal;
}

/* Form Layout */
form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: left;
}

.form-left,
.form-right {
  width: 48%;
  display: flex;
  flex-direction: column;
}

/* Labels & Inputs */
label {
  font-weight: 600;
  color: #000;
  margin-top: 10px;
}

input,
select {
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  outline: none;
  transition: all 0.3s ease;
}

input:focus,
select:focus {
  border-color: #ffd000;
  box-shadow: 0 0 20px rgba(255, 136, 0, 0.432);
}

/* Bottom Section */
.form-bottom {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

.terms {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  font-size: 14px;
}

.terms input {
  margin-right: 8px;
}

/* Submit Button */
button {
  padding: 12px 25px;
  border: none;
  border-radius: 25px;
  background-color: #f3db05;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #cfad14;
  transform: scale(1.05);
}

/* Sign-in Text */
.signup-container p {
  margin-top: 20px;
  font-size: 14px;
  color: #000;
}

.signup-container a {
  color: #e8b300;
  font-weight: bold;
  text-decoration: none;
}

.signup-container a:hover {
  text-decoration: underline;
}
